<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css"/>
    <title>EnsiChat</title>
</head>

<body class="body_login">
    <div class="texte_gauche_login">
        <div class="titre_login">
            <h2>EnsiChat</h2>
        </div>
        <div class="texte_login">
            <p>Un endroit pour chatter, en toute tranquillité !</p>
        </div>
    </div>
    <div class="login_login">
        <div class="renseignement_login">
            <form method="post" action="" class="formulaire_login">
                <div class="pseudo">
                    <input type="text" placeholder="entrez votre pseudo"/>
                </div>
                <div class="mdp_login">
                    <input type="password" placeholder="entrez votre mot de passe"/>
                </div>
                <div class="connexion_login">
                    <input class="btn_connexion_login" type="submit" value="se connecter"/>
                </div>

            </form>
            <div class="enregistrement_login">
                <a href="register.html" class="ml-2">s'enregistrer sur Ensichat</a>
            </div>

        </div>
    </div>
    
</body>