{% extends 'main.html' %}
{% block content %}

    <h1>Membres</h1>

    <h3>Voici une liste des membres:</h3>
    <ul>
        {% for x in mesMembres %}
            <li><a href="details/{{ x.id }}"> {{ x.username }}</a></li>
        {% endfor %}
    </ul>
    <style>
        #body li a{
            color: #1f820b;
            text-decoration: none;
        }
        #body li a:hover {
            text-decoration: none;
        }
        #body li a:visited {
            color: black;
        }
    </style>
{% endblock %}