<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css"/>
    <title>EnsiChat</title>
</head>

<body class="body_register">
    <div class="register_register">
        <div class="titre_register">
            <h2>EnsiChat</h2>
        </div>
    </div>
    <div class="login_register">
        <h3>S'inscrire</h3>
        <div class="renseignement_register">
            <form method="post" action="" class="formulaire_register">
                <div class="pseudo_register">
                    <input type="text" placeholder="Nouveau pseudo"/>
                </div>
                <div class="age_register">
                    <input  type="number" placeholder="Votre âge" />
                </div>
                <div class="mail_register">
                    <input type="email" placeholder="Votre e-mail"/>
                </div>
                
                
                <div class="mdp_register">
                    <input type="password" placeholder="Nouveau mot de passe"/>
                </div>
                <div class="mdp_confirmer_register">
                    <input type="password" placeholder="Confirmer votre mot de passe"/>
                </div>

                <div class="inscription_register">
                    <input class="btn_connexion_register" type="submit" value="s'inscrire"/>
                </div>

            </form>
            <div class="connexion_register">
                <a href="login.html" class="ml-2">se connecter sur EnsiChat</a>
            </div>

        </div>
    </div>
    
</body>