{% extends 'main.html' %}

{% block content %}
    <h1>Salons Disponibles</h1>
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <a href="{% url 'create_salon' %}">Créer un Salon</a>
        <form method="POST" action="{% url 'logout' %}" style="margin: 0;">
            {% csrf_token %}
            <button type="submit">Se déconnecter</button>
        </form>
    </div>
    <ul>
        {% for salon in salons %}
            <li>
                {{ salon.nom }} - {{ salon.description }}
                
                {% if user in salon.users.all or salon.created_by == user %}
                    <a href="{% url 'view_salon' salon.id %}">
                        <button>Écrire dans le salon</button>
                    </a>
                {% else %}
                    <p>Vous n'êtes pas membre de ce salon. Vous devez être ajouté par le créateur.</p>
                {% endif %}
                
                {% if salon.created_by == user %}
                    <form method="POST" action="{% url 'delete_salon' salon.id %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit">Supprimer</button>
                    </form>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
